<form action="/auth/login" method="POST">
  <label for="input-username">Username</label>
  <input type="text" id="input-username" name="username" placeholder="Your Username" />
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
  <button type="submit">Sign In</button>
</form>