nav {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #282c34;
  font-weight: 600;
}

.nav__projectName {
  color: #e4f9ff;
  text-decoration: none;
}

.authLink {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink + .authLink {
  padding: 1em;
}

.authLink:hover {
  color: #ffffff;
}
